<meta charset="utf-8">
<meta name="HandheldFriendly" content="True"/>
<meta name="MobileOptimized"  content="320" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"      />
<meta name="apple-mobile-web-app-capable" content="yes"   />
<meta name="description" content="{{ site.description }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="google-site-verification" content="oHbAzUk3fMErQb4iBlbcVm8Csr8h47sODfN3q_1TzM0" />

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
