<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/fonts/Entypo-webfont.eot">
<link rel="stylesheet" href="/assets/fonts/Entypo-webfont.svg">
<link rel="stylesheet" href="/assets/fonts/Entypo-webfont.ttf">
<link rel="stylesheet" href="/assets/fonts/Entypo-webfont.woff">
<link rel="stylesheet" href="/assets/css/github-box.css">

<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main.css" />
