h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

p, ul, li {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Kanit', sans-serif;
}

section.main {
  width: 60%;
  margin: 60px auto;
}
