<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link href="/assets/css/{{ page.name }}.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kanit:400,800,900" rel="stylesheet" type="text/css">

    <title>Luis Vasconcellos</title>
  </head>

  <body>
    <section class="main">
      {{ content }}
    </section>

    <img src="http://localhost:4001/" hidden/>
  </body>
</html>
