<!DOCTYPE html>
<html>
  <head>

    <link href="/assets/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/{{ page.name }}.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kanit:400,800,900" rel="stylesheet" type="text/css">

    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120650974-1"></script>

    <title>Luis Vasconcellos</title>
  </head>

  <body>
    <section class="main">
      {{ content }}
    </section>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());

      gtag("config", "UA-120650974-1");
    </script>
  </body>
</html>
