<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
    {% include stylesheets.html %}
  </head>

  <body itemscope itemtype="http://schema.org/Article">
    <main class="content" role="main">
      <article class="not-index post">
        <div class="noarticleimage">
          <h1 class="post-title">{{ page.title }}</h1>
        </div>
        <br>

        <section class="post-content">
          {{content}}
        </section>

        <div class="isLeft">
          <section class="author">
            <div class="author-image" style="background-image: url({{site.author_image}})">Blog Logo</div>
            <h4>{{ site.author }}</h4>
            <p class="bio">{{site.author_job_title}}</p>
            <p class="bio">Sou um desenvolvedor apaixonado pelo que faço. Até o momento tenho dedicado minha carreira à construção de produtos feitos principalmente com ruby e javascript para a Web, iOS e Android.
          </section>
        </div>

        {{/post}}
      </article>

      <div id="disqus_thread"></div>
      <br/>
    </main>

    {% include javascripts.html %}
  </body>
</html>
