<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized"  content="320" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"      />
    <meta name="apple-mobile-web-app-capable" content="yes"   />
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    {% include stylesheets.html %}
  </head>

  <body itemscope itemtype="http://schema.org/Article">
    <div class="not-blank">
      <a href="http://luisvasconcellos.com" class="logo-readium">
        <span class="logo" style="background-image: url(/assets/images/luis.jpg)"></span>
      </a>
    </div>

    <main class="content" role="main">
      <article class="not-index post">
        {% if page.image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
          </div>
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
          </div>
        </div>
        {% else %}
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
          </div>
        </div>
        <br>
        {% endif %}
        <section class="post-content">
          <div class="post-reading">
            <span class="post-reading-time"></span> read
          </div>
          <a name="topofpage"></a>
          {{content}}
        </section>
        <div class="bottom-teaser cf">
          <div class="isLeft">
            <h5 class="index-headline featured"></h5>
            <section class="author">
              <div class="author-image" style="background-image: url({{site.author_image}})">Blog Logo</div>
              <h4>{{ site.author }}</h4>
              <p class="bio">{{site.description}}</p>
              <p class="bio"><a href="http://twitter.com/vasconcelloslf">Siga-me</a> no twitter para saber mais sobre <span class="subject">{{page.subject}}</span></p>
            </section>
          </div>
          {{/post}}
        </div>
      </article>
      <div id="disqus_thread"></div>
      <br/>
    </main>

    <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <a href="/" class="btn">Voltar</a>
      </div>
    </div>

    {% include javascripts.html %}
  </body>
</html>
