<!DOCTYPE HTML>
<html>
  <head>
    <link href='/assets/css/resume.css' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120650974-1"></script>

    <title>Luis Vasconcellos</title>
  </head>

  <body>
    {{ content }}

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120650974-1');
    </script>
  </body>
</html>
